{% extends 'layout.html' %}

{% block head %}
<title> Home </title>
{% endblock %}

{% block body %}


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/images/ENG-EN.png">
    <h1 class="display-5 fw-bold text-body-emphasis">Dicionário Médico</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Este dicionário foi desenvido nas aulas de PLENB 2425 ...</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/conceitos" class="btn btn-primary btn-lg px-4 gap-3">Conceios</a>
        <a href="/pesquisa" class="btn btn-outline-secondary btn-lg px-4">Pesquisar</a>
      </div>
    </div>
  </div>

{% endblock %}